

body {
    background-image: url('images/door.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: auto;
}

#textbox {
    position: absolute;
    bottom:20px;
    width: 38vh;
    height: 20vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#btn-continue {
    position: absolute;
    bottom: 90px;
    width: 250px;
    left: 47px;
    background-color: transparent;
    border: transparent;

}

#btn-continue:hover {
    cursor: pointer;
    color:tomato;
}

h1 {
    margin-top:30px;
    font-size: 100px;
    font-family: 'Grey Qo', thin, cursive;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media only screen and (max-width: 400px){

    html {
        height: 100%;
    }

    body {
        background-image: url('/images/door.jpg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    
    #textbox {
        position: absolute;
        bottom:20px;
        width: 38vh;
        height: 20vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    #btn-continue {
        position: absolute;
        bottom: 70px;
        width: 250px;
        left: 10px;
        background-color: transparent;
        border: transparent;
    
    }
    
    #btn-continue:hover {
        cursor: pointer;
        color:tomato;
    }
    
    h1 {
        margin-top:30px;
        font-size: 50px;
        font-family: 'Grey Qo', thin, cursive;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}